input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.display-none{
  display: none;
}
.display-block{
  display: block;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.forms{
  display: flex;
  justify-content: space-around;
}
.warning{
  width: 80%;
}
.final-cost{
  font-size: large;
  font-weight: 900;
  border-radius: 5px;
  border: 2px solid red;
  padding: 15px;
  width: fit-content;
}
.button_b {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  height: 20px;
  width: 150px;
  margin: 7px;
  }

.button_c {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  height: 25px;
 }

.button_d {
  color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
.button_d:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s;
  }